<section class="contacte snap-section" id="contacte">
  <div class="container">
    <h2>{{ .heading }}</h2>
    <a href="https://wa.me/34644318333" class="whatsapp-link" target="_blank">644 31 83 33</a>
    {{ if .subtext }}<p class="subtext">{{ .subtext }}</p>{{ end }}
    
    <form action="https://script.google.com/macros/s/AKfycbwDgvYhfB-6gHz7FpqsdxwUAV2KollOpWroXCCMQi-YQqCtuAJkhyGm9agINKROHJ5FbA/exec" method="POST" class="contact-form">
      <div class="form-group">
        <input type="text" id="nom" name="nombre" placeholder="NOM" required>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="CORREU ELECTRÒNIC" required>
      </div>
      <div class="form-group">
        <input type="tel" id="telefon" name="telefono" placeholder="TELÈFON">
      </div>
      <div class="form-group">
        <textarea id="missatge" name="mensaje" rows="1" placeholder="MISSATGE" required></textarea>
      </div>
      <button type="submit" class="btn">ENVIAR</button>
    </form>
  </div>
</section>
